.chat-block
    width: 100%
    &__wrapper
        display: flex
        justify-content: space-between
.chats
    width: 35%
    margin-right: 2rem
    &__title
        font-size: 1rem
        margin-bottom: 1rem
        @media  ( max-width: 880px )
            display: none
    @media  ( max-width: 880px )
        display: none
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        width: 25%
    &__add
        display: inline-block
        height: 2rem
        width: 2rem
        cursor: pointer
        background: center / contain no-repeat url('../images/add-friend.svg')
.chat
    display: flex
    max-height: 2.5rem
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
    padding-bottom: 3rem
    margin-bottom: 0.5rem
    &__info
        height: 2.5rem
        display: flex
        flex-direction: column
        align-items: stretch
        justify-content: space-around
    &__name
        font-weight: 400
        font-size: 0.9em
.message
    margin-top: -2.5rem
    width: 100%
    &__item
        width: 100%
    &__info
        height: 2.5rem
        display: flex
        flex-direction: column
        align-items: stretch
        justify-content: space-around
    &__top
        display: flex
        flex-direction: row
    &__content
        margin-top: 1rem
        max-height: 60vh
        overflow-y: auto
        width: 100%
    &__content::-webkit-scrollbar-thumb
        background-color: rgba(92, 166, 250, 0.8)
        outline: 0.5px solid rgb(94 144 255)
    &__content::-webkit-scrollbar-track
        -webkit-box-shadow: inset 0 0 6px rgba(8,142,255, 0.5)
    &__content::-webkit-scrollbar
        width: 0.5em
    &__form
        display: flex
        align-items: center
        margin-top: 1rem
    &__input
        font-weight: 300
        font-style: italic
        margin-right: 1rem
        width: 90%
        font-size: clamp(0.8rem, 1.1rem, 1.3rem)
        height: clamp(2rem,6vh,8vh)
        outline: none
        border: none
        background-color: rgb(92 166 250)
        color: #fff
        padding-left: 1rem
        border-radius: 0.5rem
        &::placeholder
            color: #fff
    &__from
        position: relative
        color: #000
        font-family: Helvetica
        font-weight: normal
        font-size: clamp(0.7rem, 0.9rem, 1rem)
        text-align: left
        @media (max-width: 480px)
            font-size: 0.8em
        span
            line-height: 1.5em
            display: inline-block
            background: #e0e0e0
            padding: 10px
            border-radius: 8px
            border-bottom-left-radius: 2px
            max-width: 80%
            margin-left: 10px
            animation: floatup .5s forwards
            @media (max-width: 480px)
                line-height: 1rem
        &-date
            text-align: right
            color: #000
            font-size: 0.8em
            @media (max-width: 480px)
                font-size: 0.8em

    &__me
        color: white
        font-family: Helvetica
        font-size: 16px
        font-weight: normal
        text-align: right
        clear: both
        @media (max-width: 480px)
            font-size: 0.8em
        span
            line-height: 1.5em
            display: inline-block
            background: #5ca6fa
            padding: 10px
            border-radius: 8px
            border-bottom-right-radius: 2px
            max-width: 80%
            margin-right: 10px
            animation: floatup .5s forwards
            @media (max-width: 480px)
                line-height: 1rem
        &-date
            font-size: 0.8em
            text-align: left
            @media (max-width: 480px)
                font-size: 0.8em
    &__btn
        cursor: pointer
        border: none
        background-color: transparent
        background: center / contain no-repeat url('../images/send-message.svg')
        height: 2rem
        width: 2rem
        display: block

.small-avatar
    height: 2.5rem
    width: 2.5rem
    margin-right: 0.5rem
    &__img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 50%
.new-message
    margin-bottom: 1rem
    @media (max-width: 560px)
        font-size: 0.8rem

.message__last-visit,
.chat__last-message
    font-size: 0.8em
    font-weight: 300
